@media (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .page-content table td.akce ul {
    left: auto;
    right: 0;
    margin-left: 0;
  }

  .page-content table td.akce ul:after {
    left: 82px;
  }

}

@media (max-width: 1023px) {
  .overflowhidden {
    padding-right: 0;
  }

  .p30-bb, footer {
    padding: 20px 0;
  }

  .strankovani {
    margin-top: 20px;
  }

  .page-content table {
    margin-top: 10px;
  }

  footer {
    margin-top: 0;
  }

  .page-content {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .page-content table td.stav p {
    width: 100px;
    font-size: 11px;
  }

  .page-content table th, .page-content table td {
    padding: 10px;
  }

  .three-forms .filtration-content .box {
    width: 50%;
  }

  .three-forms .editable-hours .filtration-content .box {
    width: 33.333%;
  }

  .box label {
    font-size: 12px;
    line-height: 20px;
  }

  .scrollToTop {
    padding-top: 30px;
    width: 30px;
    height: 30px;
  }

  input, select, textarea {
    font-size: 16px !important;
    font-weight: 400 !important;
    transform-origin: top left !important;
    box-shadow: unset !important;
    background: transparent;
    outline: none;
  }

  input:focus, textarea:focus {
  	font-size: 16px !important;
  }

  .detail-ticket .left-side {
    padding-right: 15px;
  }

  .detail-ticket .right-side {
    padding-left: 15px;
  }

  .editable-hours {
    margin-top: 30px;
  }

  .editable-hours {
    margin-top: 30px;
  }

  .buttons-left {
    padding-top: 30px;
  }

  .editable-table h2 {
    margin-bottom: 20px;
  }

  .detail-ticket .right-side .buttons {
    padding-top: 30px;
    margin-top: 10px;
  }

  .box.mt60-border {
    margin-top: 30px !important;
    padding-top: 30px !important;
  }

  /* disable auto-zoom on iphone input field focus */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  	select:focus, textarea:focus, input:focus {
  		font-size: 16px !important;
  	}
  }

}

@media (max-width: 768px) {
  header .logo {
    margin-right: 20px;
  }

  header .logo img, footer .logo img {
    width: 100px;
  }

  header .contact {
    display: none;
  }

  .title-section .right-side {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .title-section .time {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .filtration {
    flex-wrap: wrap;
  }

  .strankovani {
    justify-content: center;
    flex-direction: column;
  }

  .pagination {
    margin: 15px 0;
  }

  .strankovani p {
    line-height: 14px;
  }

  .detail-ticket {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .detail-ticket .left-side {
    padding-right: 0;
    width: 100%;
    border-right: 0;
  }

  .detail-ticket .right-side {
    padding-left: 0;
    width: 100%;
  }

  .detail-ticket .right-side::before {
    display: none;
  }

  .title {
    font-size: 20px;
    line-height: 26px;
  }

  .title2 {
    margin-bottom: 20px;
  }

  .detail-ticket .left-side .buttons {
    margin-top: 20px;
  }

  .table-responsive {
    overflow: hidden;
    overflow-x: auto !important;
  }

  .page-content table td.akce ul {
    width: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    right: 40px;
    bottom: -3px;
  }

  .page-content table td.akce > img {
    min-width: 24px;
  }

  .page-content table td.akce ul::after {
    left: auto;
    right: -16px;
    bottom: 16px;
    border: 8px solid transparent;
    border-left: 8px solid #068bca;
  }

  .page-content table td.akce ul li a {
    line-height: 20px;
    padding: 5px;
  }

  .page-content table td.akce ul li a img {
    margin-right: 0;
  }

  .title-section .right-side {
    flex-direction: column;
    align-items: flex-end;
  }

  .title-section .right-side .upravit {
    margin-bottom: 15px;
    margin-right: 0;
    align-self: f
  }
}

@media (max-width: 540px) {

  .title-section .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-section .right-side {
    justify-content: center;
  }

  .title-section .time {
    text-align: center;
  }

  .title-section h1 {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .filtration .filtration-content {
    width: 100%;
    padding-top: 10px;
  }

  .box {
    margin: 0 0 20px 0 !important;
    width: 100%;
  }

  .box input, .box textarea, .box select {
    width: 100%;
  }

  .filtration-buttons {
    justify-content: flex-end;
    width: 100%;
  }

  .filtration-buttons .button {
    margin: 0 0 10px 20px;
  }

  .file-manager {
    padding: 0 15px;
    margin-top: 0;
  }

  .informace {
    padding: 20px 15px;
    margin-top: 20px;
  }

  .three-forms .filtration-content .box {
    width: 100%;
  }

  .box.mt60-border {
    margin-top: 0px !important;
    padding-top: 20px !important;
    margin-bottom: 0 !important;
  }

  .page-content table th, .page-content table td {
    padding: 5px;
    font-size: 12px;
  }

  .page-content table th {
    font-size: 11px;
  }

  .page-content table td.stav p {
    font-size: 10px;
    width: 90px;
  }

  .table-responsive table {
    min-width: 605px;
  }

  .tabs li a {
    margin-right: 30px;
  }

  .helpdesk {
    font-size: 20px;
    padding-left: 15px;
  }

  .page-content table td .kredit {
    width: 30px;
    height: 20px;
    line-height: 20px;
  }

  .page-content table td .kredit::before {
    left: -11px;
  }

  .three-forms .filtration-content {
    width: auto;
    margin: 0 -15px;
    text-align: center;
  }

  .editable-hours {
    margin-top: 10px;
  }

  .editable-hours {
    margin-top: 10px;
    text-align: center;
  }

  .editable-hours h2.title {
    text-align: left;
  }

  .center-button {
    margin-top: 20px;
  }

  .three-forms .editable-hours .filtration-content.addrow {
    margin: 0 -5px;
  }

  .three-forms .editable-hours .filtration-content.addrow .box {
    padding: 0 5px;
  }

  .three-forms .editable-hours .filtration-content.addrow .box label {
    font-size: 10px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }

  .three-forms .editable-hours .filtration-content.addrow .box input {
    padding: 0 5px;
  }

  .three-forms .editable-hours .filtration-content.addrow .box input.datepicker {
    background: #fff url("../img/datepicker.svg") no-repeat center right 5px !important;
  }

  .three-forms .editable-hours .filtration-content.addrow .box:nth-child(1) {
    width: 22%;
  }
  .three-forms .editable-hours .filtration-content.addrow .box:nth-child(2) {
    width: 39%;
  }
  .three-forms .editable-hours .filtration-content.addrow .box:nth-child(3) {
    width: 39%;
  }

  .checkbox-styled label::before {
    top: 1px;
  }

  .buttons-left {
    padding-top: 20px;
  }

  .title-section .right-side .button {
    margin-left: 0;
  }

  .editable-table table td input {
    width: 120px;
    padding: 0 5px;
    text-align: left;
  }

  .editable-table table td input.datepicker {
    background: #fff url("../img/datepicker.svg") no-repeat center right 5px !important;
  }

  .editable-table table td.editovat {
    min-width: 120px;
    width: 120px;
  }

  .editable-table table td.editovat .button.visible {
    padding: 0 5px;
  }

  .editable-table {
    text-align: center;
  }
}

@media (max-width: 420px) {

  header .user img {
    display: none;
  }

  header .user p strong {
    font-size: 16px;
  }

  footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .container p {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tab-section .container {
    flex-direction: column-reverse;
  }

  .tab-section .container .button {
    margin-top: 20px;
  }

  .tabs li a {
    margin: 0 15px;
  }

  .helpdesk {
    font-size: 14px;
    margin-left: 20px;
    margin-top: -3px;
  }

  .helpdesk::before {
    display: none;
  }

  header .header-left {
    flex-wrap: wrap;
    width: 120px;
  }

  .three-forms .editable-hours .filtration-content.addrow .box:nth-child(1) {
    position: relative;
  }

  .three-forms .editable-hours .filtration-content.addrow .box:nth-child(1)::after {
    content: "h.";
    position: absolute;
    right: 10px;
    top: 50px;
    font-size: 12px;
    color: #999;
  }

}
