/* normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,hr,nav,section {
  display:block
}
html {
  overflow-x: hidden;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
	text-decoration: none;
	outline: none !important;
  cursor: pointer;
}
button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}
select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  cursor: pointer;
}
option {
  padding: 0;
}
select::-ms-expand {
  display: none;
}
ul {
  padding: 0;
  margin: 0;
	list-style: none;
}
p, figure {
  margin: 0;
}
hr {
  display: inline-block;
  margin: 0;
  width: 100%;
  border: 0;
}
label {
  display: block;
  text-align: left;
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.container-middle {
  width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.row {
  margin: 0 -15px;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.4;
  display: none;
  z-index: 10;
}
.overflowhidden {
  padding-right: 17px;
  overflow: hidden;
}
.overflowhiddenfixed {
  position: fixed;
  height: 100%;
  width: 100%;
}
.flx {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.fww {
  flex-wrap: wrap;
}
.aicjsb {
  align-items: center;
  justify-content: space-between;
}
.fdc {
  flex-direction: column;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
/* normalize */

body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

input, select, textarea, button, a {
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none;
  line-height: 20px;
  color: #e0e3ec;
  background: #e0e3ec url("../img/arrowtop.svg") no-repeat center center;
  padding-top: 40px;
  text-transform: uppercase;
  z-index: 12;
  transition: all .25s ease-in-out;
}

.scrollToTop:hover {
  background: #42b901 url("../img/arrowtop.svg") no-repeat center center;
  color: #42b901;
}

/* Tlacitka */
.button {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  background: #42b901;
  border: 2px solid #42b901;
  padding: 0 30px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.button.zobrazit {
  background: transparent;
  color: #42b901;
  border: 1px solid #42b901;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
}

.button.schvalit {
  background: transparent;
  color: #42b901;
  border: 2px solid #42b901;
}

.button:hover {
  background: #068bca;
  border: 2px solid #068bca;
  color: #fff;
  cursor:pointer;
}

.button.zobrazit:hover {
  border: 1px solid #068bca;
}

.button.zrusit {
  background: transparent;
  border: 2px solid #f1001c;
  color: #f1001c;
}

.button.zrusit:hover {
  background: transparent;
  border: 2px solid black;
  color: black;
}

.button.red {
  background: #f1001c;
  border: 2px solid #f1001c;
}

.button.red:hover {
  background: black;
  border: 2px solid black;
}

.button.add {
  font-size: 13px;
  padding-left: 65px;
  padding-right: 15px;
  position: relative;
  border: 0 !important;
}

.button.add:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 40px;
  border-radius: 3px 0 0 3px;
  text-align: center;
  background: #42b901 url("../img/plus.svg") no-repeat center center;
  border-right: 1px solid #fff;
  transition: all .3s ease-in-out;
}

.button.add:hover:before {
  background: #068bca url("../img/plus.svg") no-repeat center center;
}

.button.zpet {
  border: 2px solid #919191;
  color: #919191;
  background: transparent;
  padding: 0 20px;
}

.button.zpet:before {
  content: "";
  background: url("../img/ar-back.svg") no-repeat center center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 7px;height: 12px;
}

.button.zpet:hover {
  color: black;
  border: 2px solid black;
}

.smazat-klienta {
  color: #e21f1f;
  font-weight: 700;
  text-decoration: underline;
  display: inline-block;
  line-height: 40px;
  margin-left: 20px;
}

.smazat-klienta:hover {
  color: black;
}

.smazat-klienta img {
  margin-right: 10px;
}

.pridathodiny {
  background: transparent;
  border: 1px solid #42b901;
  line-height: 38px;
  color: #42b901;
  padding: 0 15px;
}

.pridathodiny:before {
  content: "+";
  display: inline-block;
  margin-right: 15px;
  font-weight: 700;
  font-size: 24px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.pridathodiny:hover {
  border: 1px solid #068bca;
}
/* Tlacitka */

/* PREHLED */
header .logo {
  margin-right: 30px;
}

header .header-left {
  align-items: center;
}

.helpdesk {
  color: #696969;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative;
}

.helpdesk::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: #696969;
}

header .user {
  text-align: right;
  align-items: center;
}

header .user p strong {
  color: black;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

header .user p a {
  color: #909090;
  text-decoration: underline;
}

header .user p a:hover {
  color: #42b901;
}

header .user p span {
  margin: 0 5px;
  color: #909090;
  display: inline-block;
}

header .user img {
  margin-left: 15px;
}

.p30-bb {
  padding: 30px 0;
  background: #fff;
  border-bottom: 1px solid #e0e3ec;
}

.title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.title span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
}

h2.title {
  font-weight: 600;
}

.title-section .right-side {
  align-items: center;
}

.title-section .right-side .button {
  margin-left: 30px;
}

.title-section .time {
  line-height: 18px;
  text-align: right;
  margin-left: 20px;
}

.title-section .time .time-count {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.title-section .time .time-count strong {
  color: #42b901;
  font-weight: 600;
  margin-left: 5px;
}

.title-section .time .time-validity {
  color: #a1a1a1;
  font-size: 14px;
  font-weight: 400;
}

.tab-section {
  background: #fff;
  border-bottom: 1px solid #e0e3ec;
}

.tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.tabs li a {
  color: #000;
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  padding: 20px 0;
  margin-right: 50px;
}

.tabs li a:hover {
  color: #068bca;
}

.tabs li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
}

.tabs li.active a {
  color: #068bca;
  font-weight: 700;
}

.tabs li.active a:before {
  background: #068bca;
}

.tabs li a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #f1001c;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 5px;
}

.page-content {
  background: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 30px;
}

.filtration {
  justify-content: space-between;
}

.filtration .filtration-content {
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  margin: 10px 20px 10px 0;
  position: relative;
}

.box label {
  color: #909090;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
}

.box .info {
  position: absolute;
  left: 15px;
  bottom: -18px;
  color: #000;
  font-size: 11px;
}

.box input {
  height: 40px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e0e3ec;
  line-height: 38px;
  color: #696969;
  padding: 0 15px;
  font-size: 16px;
  transition: all .3s ease-in-out;
}

.box input[type=submit] {
  cursor: pointer;
  margin-left: 15px;
  vertical-align: middle;
}

.box input:hover, .box input:focus {
  border: 1px solid #068bca;
}

.box input[type=submit]:hover {
  border: 1px solid #f1001c;
  color: #f1001c;
}

.box select {
  height: 40px;
  background: #fff url("../img/ar-down.svg") no-repeat center right 15px;
  border-radius: 3px;
  border: 1px solid #e0e3ec;
  line-height: 38px;
  color: #696969;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 50px;
  transition: all .3s ease-in-out;
}

.box select:hover, .box select:focus {
  border: 1px solid #068bca;
}

.box textarea {
  height: 120px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e0e3ec;
  line-height: 20px;
  color: #696969;
  padding: 5px 15px;
  transition: all .3s ease-in-out;
  resize: none;
}

.box textarea:hover, .box textarea:focus {
  border: 1px solid #068bca;
}

.filtration-buttons .button {
  margin: 10px 0 10px 20px;
}

.ohrancieni {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e0e3ec;
}

.page-content table {
  width: 100%;
  background: #fff;
  border-radius: 3px;
  margin-top: 20px;
}

.table-responsive {
  overflow-x: visible !important;
}

.table-responsive table {
  min-width: 720px;
}

.table-responsive table tr:hover {
  background: #f5f5f5;
}

.page-content table th {
  color: #2e323b;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  border: 1px solid #e0e3ec;
}

.page-content table td {
  color: #000;
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e3ec;
}

.page-content table td a {
  color: #000;
  text-decoration: underline;
}

.page-content table td a:hover {
  color: #068bca;
}

.page-content table td.txt-l {
  text-align: left;
}

.page-content table td.akce {
  position: relative;
  cursor: pointer;
}

.page-content table td.akce img {
  min-width: 20px;
}

.page-content table td.akce ul {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  background: #068bca;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}

.page-content table td.akce ul::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #068bca;
}

.page-content table td.akce:hover ul {
  opacity: 1;
  visibility: visible;
}

.page-content table td.akce ul li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  line-height: 30px;
  padding: 5px 15px;
}

.page-content table td.akce ul li a:hover {
  background: #42b901;
}

.page-content table td.akce ul li a img {
  margin-right: 10px;
  height: 18px;
}

.stav p {
  color: #000;
  width: 140px;
  /*height: 30px;*/
  background: #fff;
  border-radius: 6px;
  border: 2px solid #000;
  display: inline-block;
  margin: 0;
  font-size: 11px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  /*white-space: nowrap;*/
}
.stav.schvaleni p {
  color: #068bca;
  border: 2px solid #068bca;
}
.stav.schvaleni p a {
  color: #068bca;
}
.stav.prijeti p {
  color: #bc16e6;
  border: 2px solid #bc16e6;
}
.stav.prijeti p a {
  color: #bc16e6;
}
.stav.zpracovava p {
  color: #f09e00;
  border: 2px solid #f09e00;
}
.stav.zpracovava p a {
  color: #f09e00;
}
.stav.novy p {
  color: #c7c7c7;
  border: 2px solid #c7c7c7;
}
.stav.novy p a {
  color: #c7c7c7;
}
.stav.zamitnuto p {
  color: #f1001c;
  border: 2px solid #f1001c;
}
.stav.zamitnuto p a {
  color: #f1001c;
}

.stav p a {
  display: inline-block;
  width: 100%;
  line-height: 26px;
}

.stav p a:hover {
  color: black !important;
}

.page-content table td .kredit {
  float: right;
  width: 40px;
  height: 26px;
  line-height: 26px;
  background: #42b901;
  border-radius: 6px;
  position: relative;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.page-content table td .kredit:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-right: 6px solid #42b901;
}

.page-content table td .kredit.red {
  background: #f1001c;
}

.page-content table td .kredit.red::before {
  border-right: 6px solid #f1001c;
}

.page-content table td.akce a img {
  min-width: 28px;
}

.strankovani {
  margin-top: 30px;
}

.strankovani p {
  color: #2e323b;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.pagination {
  margin: 0;
  border-radius: 0;
  padding: 0;
}

.pagination li {
  text-align: center;
  display: inline-block;
}

.pagination li:first-child a, .pagination li:first-child span  {
  border-radius: 6px 0 0 6px;
}

.pagination li:last-child a, .pagination li:last-child span {
  border-radius: 0 6px 6px 0;
}

.pagination li a {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #e0e3ec;
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #85969e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  margin-left: -1px;
}

.pagination li a img {
  font-size: 0;
}

.pagination li.active a {
  pointer-events: none;
  background: #f6f6f6;
  color: #bbc8ce;
}

.pagination > li > a:hover, .pagination > li > a:focus {
  color: #42b901;
  border: 1px solid #42b901;
  position: relative;
  z-index: 2;
}

.pagination li span {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #e0e3ec;
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #85969e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  margin-left: -1px;
}

.pagination li:hover span {
  color: #85969e;
  cursor: default;
}

.pagination li.active span {
  pointer-events: none;
  background: #f6f6f6;
  color: #bbc8ce;
}

footer {
  background: #f5f5f5;
  padding: 30px 0;
  border-top: 1px solid #e0e3ec;
  margin-top: 20px;
}

footer p {
  color: #2e323b;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

footer p a {
  color: #2e323b;
}

footer p a:hover {
  text-decoration: underline;
}

footer p span {
  font-weight: 600;
}

footer .logo img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .5;
}
/* PREHLED */

/* TICKETY MOJE UDAJE */
.three-forms .filtration-content {
  margin: 0 -15px;
  justify-content: center;
}

.three-forms .filtration-content .box {
  padding: 0 15px;
  width: 33.3333%;
  margin: 20px 0 0 0;
}

.three-forms .box label {
  width: 100%;
  margin-right: 0;
  text-transform: uppercase;
}

.three-forms .box input, .three-forms .box select, .three-forms .box textarea {
  width: 100%;
}

.specialbox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.specialbox input {
  width: calc(100% - 90px) !important;
}

.specialbox .radio-map {
  width: 90px;
  min-width: 90px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: 40px;
  background: #fff;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  position: relative;
  z-index: 15;
  overflow: hidden;
}

.specialbox .radio-map:hover {
  overflow: visible;
}

.specialbox .radio-map input {
  display: none;
}

.specialbox .radio-map label {
  width: 100%;
  border: 1px solid #e0e3ec;
  display: inline-block;
  height: 40px;
  background: #fff;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  color: #474747;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 10px;
  margin-bottom: 0 !important;
}

.specialbox .radio-map input:checked ~ label {
  border: 1px solid #068bca;
  order: -1;
}

.specialbox .radio-map label img {
  margin-right: 10px;
  vertical-align: baseline;
}

.box.mt60-border {
  margin-top: 60px !important;
  padding-top: 30px !important;
  border-top: 1px solid #e0e3ec;
  text-align: center;
}

.editable-table {
  margin-top: 30px;
}

.editable-table h2 {
  margin-bottom: 40px;
}

.editable-table .table-responsive {
  margin-bottom: 30px;
}

.editable-table table th, .editable-table table td {
  padding: 5px;
}

.editable-table table td input {
  border: 1px solid #e0e3ec;
  background: #fff;
  height: 40px;
  text-align: center;
  line-height: 38px;
}

.editable-table table td input:focus, .editable-table table td input:hover {
  border: 1px solid #068bca;
}

.editable-table table td input:disabled {
  border: 1px solid #fff;
}

.editable-table table td.editovat {
  position: relative;
  width: 200px;
  min-width: 200px;
}

.editable-table table td.editovat a {
  display: inline-block;
  margin: 0 10px;
}

.editable-table table td.editovat .button {
  position: absolute;
  left: 5px;
  top: 5px;
  width: calc(100% - 10px);
  margin: 0;
  white-space: nowrap;
  display: none;
}

.editable-table table td.editovat .button.visible {
  display: inline-block;
}

.center-button {
  text-align: center;
  margin-top: 30px;
}
/* TICKETY MOJE UDAJE */

/* TICKETY DETAIL */

.upravit {
  color: #d2d2d2;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  transition: all .3s ease;
}

.upravit img {
  margin-right: 10px;
}

.upravit:hover {
  color: #42b901;
}

.title2 {
  color: #85969e;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
  position: relative;
  margin-bottom: 30px;
}

.title2::after {
  content: "";
  border-bottom: 1px solid #e0e3ec;
  width: 220px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.fatkurace-ano-ne {
  color: #42b901;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -15px;
  margin-bottom: 20px;
}

.detail-ticket .left-side {
  width: 30%;
  border-right: 1px solid #e0e3ec;
  padding-right: 30px;
}

.detail-ticket .left-side label {
  width: 100%;
  text-transform: uppercase;
}

.checkbox-styled {
  display: inline-block;
  margin-right: 15px;
}

.checkbox-styled input {
  display: none;
}

.checkbox-styled label {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  padding-left: 25px;
}

.checkbox-styled label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #e0e3ec;
  border-radius: 50%;
  text-align: center;
}

.checkbox-styled input:checked ~ label:before {
  background: #fff url("../img/checked.svg") no-repeat center center;
  border: 1px solid #42b901;
}

.checkbox-styled label:hover:before {
  border: 1px solid #42b901;
}

.detail-ticket .left-side .user-desc {
  margin-bottom: 20px;
}

.detail-ticket .left-side .stav {
  margin-bottom: 20px;
}

.row .box {
  margin: 0 0 20px 0;
  padding: 0 15px;
  width: 100%;
}

.row .box .button {
  margin-top: 20px;
}

.row .box label {
  width: 100%;
}

.row .box input, .row .box select, .row .box textarea {
  width: 100%;
}

.buttons-left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #e0e3ec;
  padding-top: 50px;
}

.buttons-left .button {
  margin-right: 30px;
}

.detail-ticket .left-side .box .stav {
  margin-bottom: 0;
}

.detail-ticket .left-side p.mb20 {
  margin-bottom: 20px;
}

.detail-ticket .right-side {
  width: 70%;
  padding-left: 30px;
}

.detail-ticket .right-side:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #e0e3ec;
}

.detail-ticket .right-side p {
  color: #222;
  margin-bottom: 20px;
}

.detail-ticket .right-side p a, .detail-ticket .right-side .dsc a {
  color: #068bca;
  text-decoration: underline;
}

.detail-ticket .right-side p a:hover, .detail-ticket .right-side .dsc a:hover {
  color: #42b901;
}

.detail-ticket .right-side .dsc {
  padding: 15px;
  border: 1px solid #068bca;
  margin-bottom: 20px;
}

.detail-ticket .right-side .buttons {
  border-top: 1px solid #e0e3ec;
  margin-top: 30px;
  padding-top: 50px;
}

.detail-ticket .right-side .buttons .button {
  margin-right: 30px;
}

/* TICKETY DETAIL */

/* NOVY POZADAVEK */

.fdc .box input, .fdc .box select, .fdc .box textarea {
  width: 100%;
}

input.datepicker {
  background: #fff url("../img/datepicker.svg") no-repeat center right 15px !important;
}

.priloha {
  color: #068bca;
  font-weight: 600;
  line-height: 18px;
  text-align: right;
  width: 230px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.priloha > div {
  text-align: left;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: underline;
  vertical-align: middle;
  margin-bottom: 15px;
}

.file-manager {
  display: inline-block;
  margin-top: 10px;
}

.file-manager input {
  display: none;
}

.file-manager label {
  display: inline-block;
  height: 40px;
  line-height: 36px;
  background: transparent;
  border: 2px solid #42b901;
  padding: 0 30px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  overflow: hidden;
  color: #42b901;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.file-manager label:hover {
  border: 2px solid #000;
  color: #000;
}

.informace {
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid #e0e3ec;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.editable-hours {
  margin-top: 50px;
}

.three-forms .addrow {
  margin-bottom: 30px;
  max-width: 768px;
}
/* NOVY POZADAVEK */

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 80px !important;
 height: 28px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #d2d2d2;
 -webkit-transition: .4s;
 transition: .4s;
 border-radius: 10px;
}

.slider:before {
 position: absolute;
 left: 2px;
 bottom: 2px;
 content: "";
 width: 30px;
 height: 24px;
 background: #fff;
 border-radius: 8px;
 border: 1px solid #e0e3ec;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background: #42b901;
}

input:focus + .slider {
 box-shadow: 0 0 1px #42b901;
}

input:checked + .slider:before {
 -webkit-transform: translateX(46px);
 -ms-transform: translateX(46px);
 transform: translateX(46px);
}

.comments {
  overflow: visible !important;
}

#comment-form-div .button {
  margin-top: 20px;
}

#comment-form-div .box {
  width: 100%;
  margin: 0;
}

#comment-form-div .box label {
  margin-right: 0;
  width: 50%;
}

#comment-form-div .box input, #comment-form-div .box textarea {
  width: 100%;
}

.comment {
   border: 1px solid #e0e3ec;
   padding: 20px 30px;
   background: #fff;
   position: relative;
   border-radius: 3px;
   margin-bottom: 20px;
}

.comment:before, .comment:after {
  content: "";
  position: absolute;
  top: 10px;
  border: 12px solid transparent;
}

.comment.left:after {
  left: -24px;
  border-right: 12px solid #fff;
  z-index: 2;
}

.comment.left:before {
  border-right: 12px solid #e0e3ec;
  left: -25px;
  z-index: 1;
}

.comment.right:after {
  right: -24px;
  border-left: 12px solid #fff;
  z-index: 2;
}

.comment.right:before {
  border-left: 12px solid #e0e3ec;
  right: -25px;
  z-index: 1;
}

.comment strong {
  margin-right: 20px;
}

.comment p {
  margin: 0 !important;
  margin-top: 15px !important;
}
